    <div class="dx-field" style="width: 300px; margin: 5px;height: 700px;box-shadow: 2px 2px 2px 2px #BFB9B8;border-radius: 10px;">
        <div class="dx-field-label header" style="border-radius: 10px; text-align: center; padding: 20px; background-color: #1976d2;"><span style="color: white; font-size: 25px; font-family: 'tesla';">{{item.title}}</span> <button (click)="openModal()" style="float: right;">+</button></div>
        <button style="display: block;width: 100%;" (click)="removeAllCards()">Supprimer toutes les cartes</button>
        <button style="display: block;width: 100%;" (click)="removeSelf()">Supprimer la colonne</button>
        <div class="dx-field-value" *ngFor="let card of cards" style="display: flex; width: 100%;">
            <app-card  *ngIf="card.columnListId == item.$key" [item]="card" (rem)="removeCard($event)" style="width: 100%;">
            </app-card>
        </div> 
    </div>
