<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Ajouter une colonne</h1>
    </header>
    <section id="modal-body">
            <form [formGroup]="columnForm" (ngSubmit)="addColumn()">
              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" id="title" class="form-control" formControlName="title" style="float: right;" required>
              </div>
              <div class="form-group">
                <label for="order">ordre</label>
                <input type="number" id="order" class="form-control" formControlName="order" style="float: right;">
              </div>
              <button mat-raised-button type="submit" id="modal-action-button">Ajouter</button>
            </form>
    </section>
</div>